@import 'normalize.css';

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.app {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &__scene {
        position: absolute;
        inset: 0;
    }
}

.scene {
    &--grab {
        cursor: grab;
    }
}
